* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 479px) {
    .container {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 3;
        width: 100%;
        height: auto;
        background: black;
        font-family: 'Noto Sans Nabataean', sans-serif;
    }

    .container div {
        position: relative;
        z-index: 1;
        color: white;
    }

    .background-video {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.9;
    }

    .time {
        font-size: 1.3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        word-spacing: 0.7rem;
        margin-top: 20px;
    }

    .city {
        text-align: center;
        font-size: 2rem;
        margin-top: 15px;
    }

    .country {
        text-align: center;
        font-size: 1.3rem;
        margin-top: 8px;
    }

    .city-search {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
        gap: 12px;
        width: 100%;
        overflow-x: scroll;
    }
    
    #search {
        z-index: 20;
        display: flex;
        width: 60%;
        padding: 8px 4px;
        font-size: 0.9rem;
        background: black;
        color: white;
        border: 1px solid rgb(94, 84, 84);
        box-shadow: 1px 3px 10px 1px rgb(54, 49, 49); 
    }

    #search:focus {    
        box-shadow: 1px 3px 10px 1px rgb(122, 112, 112); 
        outline: none;
    }

    .btn-search {
        padding: 10px;
        border-radius: 14px;
        font-size: 1rem;
        width: 70px;
        height: 30px;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        border: none;
        box-shadow: 1px 3px 10px 1px rgb(138, 127, 127);
    }

    .degrees {
        margin-top: 20px;
        align-self: center;
        display: flex;
        gap: 40px;
    }

    .degrees button {
        padding: 8px;
        border-radius: 14px;
        font-size: 1.2rem;
        width: 40px;
        height: 40px;
        background: black;
        color: white;
        border: none;
        box-shadow: 1px 3px 10px 1px rgb(54, 49, 49);
    }

    .degrees button.active {
        background: green;
        box-shadow: 1px 3px 12px 1px rgb(3, 85, 3);
    }

    .degrees button:active {
        transform: scale(0.9);
    }

    .weather {
        padding-left: 16px;
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
    }

    .temp {
        font-size: 4.2rem;
    }

    .feels-humidity {
        align-self: center;
        display: flex;
        flex-direction: column;
        gap: 6px;
        font-size: 1.2rem;
        padding-right: 12px;
    }

    .condition {
        padding-left: 16px;
        font-size: 2rem;
        margin-top: 4px;
    }

    .hours-tab, .forecast, .facts, .activities {
        background: rgba(0, 0, 0, 0.8);
        margin: 40px 10px;
        border-radius: 8px;
        height: auto;
        padding: 10px;
        box-shadow: 1px 3px 10px 1px rgb(54, 49, 49); 
        overflow-x: scroll;
    }

    .hours-tab p, .forecast p {
        padding: 4px 20px 6px 20px;
        font-size: 1.2rem;
    }

    .hours {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-template-rows: 1fr;
        grid-auto-flow: column;
        overflow-x: scroll;
    }

    .hours-info {
        border-right: 1px solid rgba(255, 255, 255, 0.3);
        padding: 4px;
        width: 100px;
        margin-top: 4px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-size: 0.9rem;
    }

    .hours-info:hover, .day-info:hover {
        background: rgba(119, 117, 117, 0.4);
    }

    .hour, .hour-temp, .hour-humidity {
        align-self: center;
    }

    .hour-icon, .day-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
    }

    .hour-icon img {
        width: 40%;
    }

    .hour-humidity {
        font-size: 0.8rem;
    }

    .hour-rain-snow, .day-rain-snow {
        display: flex;
        justify-content: space-around;
        gap: 4px;
    }

    .hour-rain, .hour-snow, .day-rain, .day-snow {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;
        width: 50%;
    }

    .hour-rain-icon img, .day-rain-icon img {
        width: 25px;
        height: 20px;
    }

    .hour-snow-icon img, .day-snow-icon img {
        width: 20px;
        height: 20px;
    }

    .hour-snow-chance, .hour-rain-chance, .day-snow-chance, .day-rain-chance {
        height: 100%;
    }

    .forecast {
        margin-top: 0px;
    }

    .days {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-template-rows: 1fr;
        grid-auto-flow: column;
        overflow-x: scroll;
    }

    .day-info {
        border-right: 1px solid rgba(255, 255, 255, 0.3);
        padding: 4px;
        width: 150px;
        margin-top: 4px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 0.9rem;
    }

    .day {
        align-self: center;
    }

    .day-icon img { 
        width: 35%;
    }

    .day-temp {
        display: flex;
        gap: 8px;
        justify-content: space-evenly;
    }

    .max-temp, .min-temp {
        font-size: 1rem;
        height: 30px;
    }

    .max-temp::first-letter, .min-temp::first-letter {
        font-size: 1.4rem;
        margin-right: 4px;
    }

    .facts {
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin-top: 0px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .fact {
        border-bottom:1px solid rgba(255, 255, 255, 0.3);
        padding: 8px 12px 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 35px;
        font-size: 0.9rem;
    }

    .fact-description {
        font-size: 0.9rem;
    }

    .wind-direction {
        font-size: 1.7rem;
        padding-bottom: 4px;
    }

    .activities {
        margin-top: 0px;
        overflow-x: scroll;
    }

    .activities p {
        text-align: center;
        font-size: 1.3rem;
        padding: 8px;
    }

    .activity-grid {
        padding: 16px;
        display: grid;
        justify-content: space-around;
        grid-template-columns: repeat(2, 120px);
        gap: 20px;
    }

    .activity {
        width: 120px;
        padding: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
    }

    .activity-conditions {
        border-radius: 100%;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        width: 125px;
        height: 120px;
    }

    .activity-name {
        font-size: 1.1rem;
    }

}

@media screen and (min-width: 480px) {
    body {
        padding: 12px;
    }
    
    body div {
        border: 1px solid black;
        margin: 6px;
        color: pink;
    }
}

@media screen and (min-width: 750px) {
    body div {
        color: red
    }
}

@media screen and (min-width: 1100px) {
    body div {
        color: green
    }
}

@media screen and (min-width: 1450px) {
    body div {
        color: blue
    }
}

